body {
	background-color: #f8f8f8;
	min-height: 100vh;
}

.label-spacing {
	display: block;
	margin-bottom: 5px !important;
}


* {
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'PT Sans', sans-serif;
}

.border-card {
	border: 1px solid #ddd;
}

.link-reset,
.link-reset:hover {
	color: initial;
	text-decoration: none;
}

.border-card a:hover {
	/*transition: 0.5s ease;*/
	/*transform: scale(1.2);*/
	background-color: #f8f8f8;
}